@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|PT+Serif:400&display=swap&subset=cyrillic');

.head {
  font: bold 36px/1.25 'PT Sans', sans-serif;
  margin: 0;
}

.sub {
  font: 500 28px/1.4 'PT Sans', sans-serif;
  margin: 0;
}

.par {
  font: 18px/1.5 'PT Serif', serif;
  margin: 0;
}

.link {
  color: #01657b;
}

.list {
  font: 18px/1.5 'PT Serif', serif;
  margin: 0;
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.img_medium {
  width: 800px;
}

.img_large {
  width: 1200px;
}

.table {
  font: 16px/1.1 'PT Serif', serif;
  border: 1px solid #555;
  border-spacing: 0;
}

.table__cell {
  border: 1px solid #555;
  padding: 5px;
}

.table__cell_centered {
  text-align: center;
}

.table__header-cell {
  background: #c9e0e6;
  cursor: pointer;
  font-weight: normal;
}

.header {
  padding-top: 50px;
}

.header__link {
  color: #9ec0c8;
  font: 16px/1.5 'PT Serif', serif;
  text-decoration: none;
}

.header__link:hover {
  color: #01657b;
}

.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background: #fff;
  margin: 0;
}

.page__header {
  margin: 0 8vw;
}

.article {
  padding: 50px 0;
}

.article__head {
  margin-bottom: 25px;
  text-align: center;
}

.article__par {
  margin: 20px 0;
}

.article__sub {
  margin-top: 35px;
}

.article__table {
  margin: 0 auto;
  max-width: 900px;
  overflow-x: auto;
}

.article__text {
  margin: 0 8vw;
}

@media screen and (min-width: 850px) {
  .link {
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .page__header {
    margin: 0 auto;
    max-width: 700px;
  }

  .article__text {
    margin: 0 auto;
    max-width: 700px;
  }
}
